html {
    font-family: Montserrat,sans-serif;
}

#forecastContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dayForecast {
    border: 3px solid lightblue;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    width: 350px;
    text-align: center;
}

.temperaturesTable {
    margin: auto;
    text-align: right;
}